{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset('source/css/style.css') }}">
{% endblock %}

{% block js_source %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}

                <div class="col-md-9">
                    <table class="table table-hover table-striped" id="view_employees">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Position</td>
                                <td>Photo</td>
                                <td>Salary rate</td>
                                <td>Hire date</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for person in data.employee %}
                        <tr>
                            <td>
                                <h4>
                                    <a href="{{ path('employee_info', { 'id' : person.id }) }}">{{ person.firstName ~ ' ' ~ person.lastName }}</a>
                                </h4>
                                <!--<a href="">Can be additional info</a>-->
                            </td>
                            <td>
                                <h4>
                                    <a href="{{ path('view_by_job', {'job': person.employeePosition.urlPath }) }}">{{ person.employeePosition.name }}</a>
                                </h4>
                            </td>
                            <td>
                                <img src="{{ (person.photo is not null)? asset('uploads/media/img/') ~ person.photo : asset('source/img/not-found.png') }}" class="img-circle" width="60">
                            </td>
                            <td>
                                <h4>
                                    <b>{{ person.salaryRate }} <i class="fa fa-fw fa-usd"></i></b>
                                </h4>
                            </td>
                            <td>
                                <h4>
                                    <b>{{ person.employmentDate | date('Y/m/d') }}</b>
                                </h4>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-default" type="button" id="user_info_modal" value="{{ person.id }}">
                                        <i class="fa fa-fw s fa-eye"></i>View</button>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('edit_employee_info', {'id' : person.id}) }}">
                                        <button class="btn btn-default" value="right" type="button">
                                        <i class="fa fa-fw fa-cog"></i>Edit</button>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% if data.maxPages > 1 %}
                    <!-- Begin pagination -->
                    <div class="pages">
                        <ul class="pagination">
                            <li {{ (data.thisPage == 1)? 'class="active"' }}><a href="{{ path('home_paginator', {'page' : (data.thisPage - 1) }) }}">&laquo;</a>
                            </li>
                            {% for i in 1..(data.maxPages) %}
                                <li {{ (data.thisPage == i)? 'class="active"' }}><a href="{{ path('home_paginator', {'page' : i }) }}">{{ i }}</a>
                                </li>
                            {% endfor %}
                            <li {{ (data.thisPage == data.maxPages)? 'class="active"' }}><a href="{{ path('home_paginator', {'page' : (data.thisPage + 1) }) }}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End pagination -->
                {% endif %}

                </div>

                <div class="fade modal" id="user_info">

                </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#view_employees').DataTable( {
                "paging":   false,
                "info":     false
            } );
        } );

        $('button#user_info_modal').click(function () {
            var id = $(this).val();
            getUserInfoModal(id)
        });
    </script>
{% endblock %}

